{% macro TTL(ttl) -%}
$TTL {{ ttl }}
{%- endmacro %}

{% macro domain(name) -%}
{{name}}.
{%- endmacro %}

{% macro record(entry, value, type, direction="in", priority=0) -%}
{{ entry }} {{ direction|upper }} {{ type|upper }} {% if priority != 0 %}{{priority}}{% endif %} {{ value }}
{%- endmacro %}

{% macro SOA(ns, admin_email, serial=1, refresh="3h", retry="1h", expire="1w", negative_cache="1h") -%}
{{ record('@', '%s %s ( %s %s %s %s %s )' % (ns, admin_email, serial, refresh, retry, expire, negative_cache), type='soa') }}
{%- endmacro %}

{% macro NS(ns) %}
{{ record('@', ns, type='ns') }}
{% endmacro %}

{% macro A(entry, value, priority=0) %}
{{ record(entry, value, type='a', priority=priority) }}
{% endmacro %}

{% macro AAAA(entry, value, priority=0) %}
{{ record(entry, value, type='aaaa', priority=priority) }}
{% endmacro %}

{% macro MX(entry, value, priority=10) %}
{{ record(entry, value, type='mx', priority=priority) }}
{% endmacro %}

{% macro CNAME(entry, value, priority=0) %}
{{ record(entry, value, type='cname', priority=priority) }}
{% endmacro %}
