{% import 'dns.jinja2' as dns with context %}
{{ dns.TTL(item.ttl) }}
{# SOA record, nameserver 0 is authorative #}
{{ dns.SOA(dns.domain(item.nameservers[0]), dns.domain('hostmaster.'+item.domain)) }}
{# NS records #}
{% for ns in item.nameservers %}
{{ dns.NS(dns.domain(ns)) }}
{% endfor %}
{# MX Records #}
{% if item.MX is defined %}
{% for mx in item.MX %}
{% if mx is mapping -%}
{{
  dns.MX(
    dns.domain(item.domain) if name not in mx else mx.name,
    mx.value,
    10 if priority not in mx else mx.priority)
}}
{%- else -%}
{{
  dns.MX(
    dns.domain(item.domain),
    mx)
}}
{%- endif %}
{% endfor %}
{% endif %}
{# A Records #}
{% if item.A is defined %}
{% for name,ip in item.A.items() %}
{{ dns.A(name, ip) }}
{% endfor %}
{% endif %}
{# CNAMEs #}
{% if item.CNAME is defined %}
{% for name, cname in item.CNAME.items() %}
{{ dns.CNAME(name, cname) }}
{% endfor %}
{% endif %}
