{% import 'dns.jinja2' %}

{{ TTL(item.ttl) }}

{{ SOA(domain(item.nameservers[0]+item.domain), domain('hostmaster.'+item.domain)) }}

{% for ns in item.nameservers %}
{{ NS(domain(ns)) }}
{% endfor %}

{% if item.MX is defined %}
{% for mx in item.MX %}
{% if mx is mapping %}
{{
  MX(
    domain(item.domain) if name not in mx else mx.name,
    mx.value,
    10 if priority not in mx else mx.priority)
}}
{% else %}
{{
  MX(
    domain(item.domain),
    mx)
}}
{% endif %}
{% endfor %}
{% endif %}

{% if item.A is defined %}
{% for name,ip in item.A.items() %}
{{ A(name, ip) }}
{% endfor %}
{% endif %}

{% if item.CNAME is defined %}
{% for name, cname in item.CNAME.items() %}
{{ CNAME(name, cname) }}
{% endfor %}
{% endif %}
